{% extends "pages/default.html" %}

{% load static %}

{% block title %}Error{% endblock %}

{% block content %}

<style type="text/css" media="screen">
  .container {
    margin: auto;
    width:1200px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
    <font face="Helvetica" color="#555">
        <h1>404</h1>
        <h2><strong>I AM ERROR.</strong></h2>
        <p>The requested page could not be found.</p>
    </font>
</div>

{% endblock %}