{% extends "pages/default.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<font face="Helvetica" color="#444" size="3">
    My drive to enter software development began with my passion for gaming. I was inspired by many games I played growing up that left an impact on me. Some of these games include <i>Super Mario World</i>, <i>Donkey Kong Country</i>, <i>The Legend of Zelda: Link's Awakening</i>, and <i>Kirby's Dream Land</i>. The unique worlds and characters they presented kept me engaged and entertained for hours and fueled my imagination. By becoming a developer, I wanted to return the favor and provide the magic of games to the new generation so they could be engaged and inspired just as I was in my youth.
    <br />
    <br />
    My favorite types of game genres are platformer, RPG, and puzzle. I play Super Smash Bros. and Super Smash Bros. Melee competitively, and I love reading about how my favorite games were made via developer interviews. Additionally, I enjoy doing game research for <a target="_blank" href="https://tcrf.net/The_Cutting_Room_Floor">TCRF</a>, which I occasionally <a target="_blank" href="https://tcrf.net/Special:Contributions/Kimimaru">contribute to</a>.
    <br />
    <br />
    Since 2019, I've become a free software advocate and developer after a revelation; upon realizing that, despite how much software can empower us, many choose to use it to undermine our liberties and rights for control and/or profit. Many people, including myself, have been conditioned to throw away their right to privacy for the sake of convenience using software. I've learned that these two things are not mutually exclusive, and I believe that free software is the only way to ensure a free society and live in a world where software respects our rights as human beings rather than data subjects.
    <br />
    <br />
    I have contributed to several free software projects, such as the <a target="_blank" href="https://github.com/MonoGame/MonoGame">MonoGame framework</a>, <a target="_blank" href="https://github.com/libretro/RetroArch">RetroArch</a> frontend, the <a target="_blank" href="https://github.com/linuxmint/cinnamon">Cinnamon GNU/Linux desktop environment</a>, <a target="_blank" href="https://kde.org/">KDE</a>, and many others. I've also <a target="_blank" href="https://media.libreplanet.org/u/libreplanet/m/empowering-community-oriented-play-with-trbot/">done talks on free software</a> at events like LibrePlanet. All of my new projects will be free software, and I plan to continue working on more prominent free software projects in the future. You can find many of my own projects on this site and on <a target="_blank" href="https://codeberg.org/kimimaru/">Codeberg</a>.
    <br />
    <br />
    I hope you enjoy your stay, and feel free to explore my work. If you'd like to contact me for any reason, including business inquiries, don't hesitate to reach out through any of the platforms at the footer of the page.
    <br />
    <br />
</font>

{% endblock %}
