<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">

<head>
	<title>{% block title %} Title {% endblock %}</title>
</head>
<body>
    <h2><font face="Helvetica" color="#666">Thomas Deeb, Software Developer</font></h2>
    <hr />
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'pages:projects' %}">Projects</a></li>
            <li><a target="_blank" href="{% static 'Resume.pdf' %}">Resume</a></li>
            <li><a href="{% url 'pages:about' %}">About</a></li>
        </ul>
	</nav>
    <hr />
	<div class="container">
	
	{% block content %}Content{% endblock %}
	
	</div>
	<footer>
        <ul>
            <li><a href="mailto:tdd ( * at * ) posteo (DOT ('.')) us">email</a></li>
            <li><a href="https://matrix.to/#/@kimimaru:matrix.org">Matrix</a></li>
            <li><a href="https://codeberg.org/kimimaru">Codeberg</a></li>
        </ul>
        <div class="license-footer">
            This website was developed in Django and is licensed under the terms of the <a class="license-footer" href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-No Derivative Works 4.0 license (or a later version)</a>. All thoughts expressed on this page are my own. This website is hosted on green energy.
        </div>
	</footer>
</body>
