{% extends "pages/default.html" %}

{% load static %}

{% block title %}Freelancing{% endblock %}

{% block content %}

<font face="Helvetica" color="#555">
    <h2>Freelancing Services</h2>
    I offer freelance application and game development services through <a target="_blank" href="https://www.upwork.com/freelancers/~013785e9318a21c619">Upwork</a>. I can work in C#, Unity, MonoGame, mobile, VR, and much more. Some of my work includes:
    <ul>
        <li>Wrote code for Spatial Digital to create avatars with realistic movements for a mobile fashion app.</li>
        <li>UX improvements for Cosmo's Tuxedo on <a target="_blank" href="https://store.steampowered.com/app/1377280/Electioneering">Electioneering</a>.</li>
        <li>Performance optimization and new features of a virtual recreation of the historic Deepdene estate for TJC Heritage LTD.</li>
    </ul>
    For more details, review my work history and portfolio on my Upwork profile. I focus on good communication to ensure my work meets your expectations. I'm happy to negotiate my rates - if you'd like to enlist my services, please contact me via email or invite me to interview for your job on Upwork.
</font>

{% endblock %}
