{% extends "pages/default.html" %}

{% load static %}

{% block title %}Thomas Deeb, Free Software Advocate and Developer{% endblock %}

{% block content %}

<div class="blurb">
    <font face="Helvetica" color="#555">
        <h2>Home</h2>
        <div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-around">
            <div class="grid-item">
                <a target="_self" href="{% url 'pages:project' 'trbot' %}">
                    <img class="noborder nofit" src="{% static 'pages/images/TRBot/TRBotLogo.png' %}" width="320" height="233">
                </a>
            </div>
            <div class="grid-item">
                <a target="_self" href="{% url 'pages:project' 'mazeburrow' %}">
                    <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-LevelComplete.png' %}" width="320" height="233">
                </a>
            </div>
            <div class="grid-item">
                <a target="_self" href="{% url 'pages:project' 'yousician' %}">
                    <img src="{% static 'pages/images/Yousician/yousician-logo.jpg' %}" width="320" height="233">
                </a>
            </div>
        </div>
        <br />
        Welcome to my personal site! I'm a free/libre software developer with 10+ years of experience writing code of all kinds. I find delight in empowering people with tools and experiences to enhance their lives.
        <br />
        <br />
        I'm an advocate of <a href="https://www.gnu.org/philosophy/free-sw.html">Free Software</a> and strongly believe that it is a requirement for a free society in the digital age we live in. Insisting on free software asserts that people have the right to study, improve on works, and share their knowledge with others. We must take action now to secure a future where technology empowers us rather than restricts and controls us. Open standards, free software, and raising awareness are the stepping stones towards such a future.
        <br />
        <br />
        However you arrived at this site, I hope you enjoy your stay! You can <a href="{% url 'pages:about' %}">learn more about me</a> or view my <a href="{% url 'pages:projects' %}">portfolio</a>, which includes my professional experience.
        <br />
        <br />
        For business inquiries, please contact me at <!-- EmailDiv -->tdd <!--GIBBERISH--> [ AT ] <!--Niin?!-->posteo<!-- NiinNo--> [ DOT ] <!--Who is this example@email.com? -->us<!--This is an email form SPAM!-->.
        <br />
        <br />
    </font>
</div>

{% endblock %}
