{% extends "pages/default.html" %}
{% block content %}
<font face="Helvetica" color="#555">
    <h2>{% block ptitle %}Title{% endblock %}</h2>
    <h4>Technologies: {% block technologies %}Technologies{% endblock %}</h4>
    {% block pcontent %}Content{% endblock %}
</font>
{% endblock %}