body {
    margin: 30px auto 5px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul
{
    list-style-type: none;
    margin: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
/*p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.container, .container * {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.container .overlay {
    opacity: 0;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay,
.container.active .overlay
{
    opacity: 1;
}

.container .text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    object-fit: cover;
    border-color: #000000;
    border: solid;
    border-width: 1px;
}

.noborder
{
    border:none;
}

.nofit
{
    object-fit:none;
}

.truncate {
    width: 192px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.license-footer {
    text-align:center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: #999
}

a.license-footer {
    color: #bbb;
}

/*index-grid {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-around;
}*/

/*project-grid {
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    grid-gap: 30px 30px;
    justify-content: start
}*/

/*.grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: space-around;
}*/

/*
.grid-item {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}*/