{% load static %}

<head>
	<title>TRBot WebSocket Playaround</title>
</head>
<body>
    <h2><font face="Helvetica" color="#666">TRBot WebSocket Playaround</font></h2>

    Input Sequence:
    <br />
    <textarea id="input_log" cols="100" rows="20"></textarea><br>
    <input id="input_field" type="text">
    
    {% csrf_token %}
    <button id="input_submit" type="submit">Submit</button>

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/play/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            console.log(data);

            var jsonStr = data;
            var msg = jsonStr.Message.Text;

            document.querySelector('#input_log').value += (msg + '\n');
        };
        
        chatSocket.onclose = function(e) {
            console.error("Chat socket closed unexpectedly");
        }

        document.querySelector('#input_field').focus();
        document.querySelector('#input_field').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#input_submit').click();
            }
        };

        document.querySelector('#input_submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#input_field');
            const message = messageInputDom.value;

            /*var obj =
            {
                "User": null,
                "Message":
                {
                    "Text": message
                }
            };*/

            chatSocket.send(message);
            messageInputDom.value = "";
        };
    </script>

</body>
