{% extends "pages/project.html" %}

{% load static %}

{% block title %}Blue Apprentice{% endblock %}
{% block ptitle %}Blue Apprentice{% endblock %}
{% block technologies %}C#, Unity, Git{% endblock %}

{% block pcontent %}

Blue Apprentice is an educational science game made by Galxyz (pronounced "Galaxies") designed for elementary school students. Blue Apprentice is unique in that it seamlessly weaves educational elements into all aspects of the game, down to the gameplay itself. For example, to solve puzzles you will need to combine elements from the Periodic Table to craft new items that allow you to progress.
<br />
<br />
This game was built in Unity and was already very large when I joined. I was initially fixing bugs until I got familiar with the codebase, after which I moved onto adding new features, such as costume painting. This feature allowed the player to draw on their character's outfit using an assortment of patterns and colors to modify the outfit's appearance at runtime. If the player liked what they drew, they can save it into a custom outfit slot and make their character wear it at any time.
<br />
<br />
<b>Trailer</b>
<br/>
<iframe width='640' height='360' src='https://yewtu.be/embed/OrsXC5gTL4o' style='border:none;'></iframe>
<br />
<br />
<a target="_blank" href="https://itunes.apple.com/us/app/blue-apprentice/id1123707853">
<img class="noborder" src="{% static 'pages/images/BlueApprentice/scimage.png' %}" width="160" height="54" />
</a>
<a target="_blank" href='https://play.google.com/store/apps/details?id=com.galxyz.ba'>
<img class="noborder" alt='Get it on Google Play' src="{% static 'pages/images/BlueApprentice/scimage1.png' %}" width="188" height="56" />
</a>

{% endblock %}
