{% extends "pages/project.html" %}

{% load static %}

{% block title %}Darblez{% endblock %}
{% block ptitle %}Darblez{% endblock %}
{% block technologies %}C#, Unity, NGUI, Git{% endblock %}

{% block pcontent %}

Darblez is a competitive head-to-head mobile game created by LG Dev Shop and released on iOS and Android on February 17, 2016.
<br />
<br />
This was the first professional project I've worked on. For this role, I was a Software Engineer for over a year, using Unity's scene editor and NGUI to design scenes and menus for the game, such as the Inventory and Credits. I gained a lot of experience communicating with servers by sending and receiving JSON data, and I wrote C# scripts to implement gameplay and UI features in addition to fixing bugs.
<br />
<br />
<b> Gameplay Video</b>
<br />
<iframe width='640' height='360' src='https://yewtu.be/embed/lQ4oHv8JSQI' style='border:none;'></iframe>
<br />
<br />

{% endblock %}
