{% extends "pages/project.html" %}

{% load static %}

{% block title %}Defend Your Fort{% endblock %}
{% block ptitle %}Defend Your Fort{% endblock %}
{% block technologies %}C#, MonoGame, XAML, Adobe Photoshop, Adobe Illustrator, Git{% endblock %}

{% block pcontent %}

Defend Your Fort is a defense game for Windows 8 and Windows Phone 8 in which you must defend your fort from the Goblin tribe. To defeat a Goblin, the player must tap or click on the Goblin's location on-screen. There are three weapons for the player to use, each being more effective at killing certain types of Goblins than others. After each level, the player enters a shop where he/she can purchase upgrades for the fort, helpers that aid in defense, or repairs if the fort took any damage. This game was heavily inspired by the classic game, Defend Your Castle, by XGen Studios.
<br />
<br />
I worked on this game for two months with my brother using C# and the MonoGame framework. I coded the base engine, implemented AI for the helpers, and created a large chunk of the art assets including the fort, flying goblins, and title screen font. Defend Your Fort was released on the Windows Store on November 19, 2014.
<br />
<br />
Click on the image below to view Defend Your Fort on the Windows Store.
<br />
<br />
<a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/defend-your-fort/375e7914-f7c6-43bf-a72c-5754e9c157e1">
    <img src="{% static 'pages/images/DYF/dyftitlescreen.png' %}" width="360" height="240">
</a>

{% endblock %}