{% extends "pages/project.html" %}

{% load static %}

{% block title %}Epicubed{% endblock %}
{% block ptitle %}Epicubed{% endblock %}
{% block technologies %}C#, Unity, Jira, Git{% endblock %}

{% block pcontent %}

Epicubed is a 3D puzzle-platformer in which the player takes control of cubes and records their actions through time. The goal of each level is to get the Hero Cube to the Goal Door. There are various types of cubes with special abilities, including the Gravity Cube, which can briefly hover in the air, and the Spring Cube, which launches other cubes that land on it upwards like a spring.
<br />
<br />
Epicubed was my final project in the Senior Game Design series at UC Santa Cruz. I was part of a team of four known as Astral Studios. Epicubed was built in the Unity engine, with scripts coded in C#. I designed all of the game's 24 levels, implemented the different types of cubes, ran playtesting sessions, and fixed gameplay-related bugs. To facilitate designing levels, we used the ProBuilder and ProGrids plugins; these plugins enabled us to scale levels consistently with the size of the cubes the player controls.
<br />
<br />
We used Git for revision control and Agile-Scrum for handling milestones and releases. Instructors regularly checked on our progress and offered advice and feedback.
<br />
<br />
<a target="_blank" href="{% static 'pages/images/Epicubed/titlescreen.png' %}">
    <img src="{% static 'pages/images/Epicubed/titlescreen.png' %}" width="400" height="225">
</a>
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: 160px 160px 160px 160px; padding: 10px; grid-gap: 10px 10px; justify-content: space-between">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/titlescreen.png' %}">
            <img src="{% static 'pages/images/Epicubed/titlescreen.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-1-select.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-1-select.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/level-preview.png' %}">
            <img src="{% static 'pages/images/Epicubed/level-preview.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/third-person-cube.png' %}">
            <img src="{% static 'pages/images/Epicubed/third-person-cube.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/gravity-cube.png' %}">
            <img src="{% static 'pages/images/Epicubed/gravity-cube.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/level-complete.png' %}">
            <img src="{% static 'pages/images/Epicubed/level-complete.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-1-level.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-1-level.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-2-level.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-2-level.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-2-select.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-2-select.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-3-select.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-3-select.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-3.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-3.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Epicubed/world-4-teleport-cubes.png' %}">
            <img src="{% static 'pages/images/Epicubed/world-4-teleport-cubes.png' %}" width="160" height="160">
        </a>
    </div>
</div>

{% endblock %}