{% extends "pages/project.html" %}

{% load static %}

{% block title %}Hypernet Arena{% endblock %}
{% block ptitle %}Hypernet Arena{% endblock %}
{% block technologies %}C#, Unity, PlayFab, Git{% endblock %}

{% block pcontent %}

Hypernet Arena is a fast-paced competitive top-down shooter for the web by <a target="_blank" href="https://boom.tv">Boom.tv</a>. The quick pace allows Twitch streamers to easily finish a 1000+ man tournament in approximately 10 minutes. This makes it very appealing, as streamers can take a short break from their normal schedule while further engaging with their viewers. Tournaments can be organized via a separate client given to the streamers, which also allows them to spectate individual matches to display on stream. Hypernet Arena has been featured by high-profile streamers, such as DrDisRespect.
<br />
<br />
I was one of the core engineers on this project. The game was developed in Unity and built for WebGL. I wrote many components of the gameplay via C#, implementing player movement, gun firing, the damage system, hazards, powerups, networking via Photon, and more. Since the game was built in WebGL, we were limited to 50 MB for the upfront game size. I played a role in optimizing assets to keep the size well below the 50 MB threshold, and I collaborated with our in-house artist to ensure new assets would fit in the game while improving its presentation.
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-between">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Hypernet/gameplay.png' %}">
            <img src="{% static 'pages/images/Hypernet/gameplay.png' %}" width="192" height="120">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Hypernet/train.png' %}">
            <img src="{% static 'pages/images/Hypernet/train.png' %}" width="192" height="120">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Hypernet/decoy-powerup.png' %}">
            <img src="{% static 'pages/images/Hypernet/decoy-powerup.png' %}" width="192" height="120">
        </a>
    </div>
</div>

{% endblock %}