{% extends "pages/project.html" %}

{% load static %}

{% block title %}The Rise of Captain Longbeard{% endblock %}
{% block ptitle %}The Rise of Captain Longbeard{% endblock %}
{% block technologies %}C#, Unity, Adobe Audition, Git{% endblock %}

{% block pcontent %}

The Rise of Captain Longbeard is an immersive action-adventure game for the HTC Vive developed by Colopl NI, Inc. It was released on Steam Early Access on October 19, 2016.
<br />
<br />
I was a core member of the engineering team for this project. The game was developed in Unity; I wrote C# scripts to fix bugs and implement new gameplay features, and I designed one of the game's four islands. I also participated in frequent design meetings to tackle challenges new to VR. Some of these challenges included the movement system, the inventory system, and ways to convey information such as the player's health and gold.
<h2>Showcase</h2>
<a href="{% static 'pages/images/Longbeard/longbeard-map.gif' %}">
    <img src="{% static 'pages/images/Longbeard/longbeard-map.gif' %}" width="480" height="360" style="display: block;">
</a>
<br />
The map system I implemented. As you explore areas on the island, it will uncover more sections on the player’s handheld map.
<br />
<br />
<a href="{% static 'pages/images/Longbeard/longbeard-shop.gif' %}">
    <img src="{% static 'pages/images/Longbeard/longbeard-shop.gif' %}" width="480" height="360" style="display: block;">
</a>
<br />
The intuitive shop system I wrote. When you hover your hand over an item, it will show the item’s price. You can then buy the item by simply grabbing it. If you don’t have enough gold to purchase an item, the item’s price will be in red instead of white.
<br />
<h3>More screenshots</h3>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-between;">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Longbeard/longbeard-shop-island-zoom-out.png' %}">
            <img src="{% static 'pages/images/Longbeard/longbeard-shop-island-zoom-out.png' %}" width="192" height="120">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Longbeard/longbeard-shop-island-alt-dock.png' %}">
            <img src="{% static 'pages/images/Longbeard/longbeard-shop-island-alt-dock.png' %}" width="192" height="120">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Longbeard/longbeard-shop-island-shop.png' %}">
            <img src="{% static 'pages/images/Longbeard/longbeard-shop-island-shop.png' %}" width="192" height="120">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/Longbeard/longbeard-shop-island-treasure.png' %}">
            <img src="{% static 'pages/images/Longbeard/longbeard-shop-island-treasure.png' %}" width="192" height="120">
        </a>
    </div>
</div>
<br />
<br />
This was one of the most fun projects I've ever worked on, and I'm very happy with how it turned out. The game is no longer for sale on Steam, but you can still access its Steam page by clicking on the image below.
<br />
<br />
<a target="_blank" href="https://store.steampowered.com/app/534750">
    <img src="{% static 'pages/images/Longbeard/the-rise-of-captain-longbeard-image.jpg' %}" width="512" height="288" style="display: block;">
</a>

{% endblock %}