{% extends "pages/project.html" %}

{% load static %}

{% block title %}Math Infection{% endblock %}
{% block ptitle %}Math Infection{% endblock %}
{% block technologies %}C#, XNA, Adobe Photoshop, Git{% endblock %}

{% block pcontent %}

Math Infection is a 2D top-down Shoot 'Em Up designed to help elementary-level students with arithmetic. Each time the player is hit by an enemy or projectile, he/she is required to choose the correct answer to a multiple-choice arithmetic problem. If the answer is correct, the player does not lose health.
<br />
<br />
Math Infection was my final project in an intermediate course at college. The game was built in C# using the XNA framework with a team of four, including me. I implemented player movement and shooting, animations, and created art assets for the HUD, title screen, and player. This was the first project in which I used Git and GitHub.
<br />
<br />
<a target="_blank" href="http://depw.pbworks.com/w/page/49998759/0-Home"><b>Team Blog</b></a>
<br />
<br />

{% endblock %}