{% extends "pages/project.html" %}

{% load static %}

{% block title %}Maze Burrow{% endblock %}
{% block ptitle %}Maze Burrow{% endblock %}
{% block technologies %}MonoGame, Visual Studio, Tiled, HLSL, Mono mkbundle, Git{% endblock %}

{% block pcontent %}

Maze Burrow is a 2D Sokoban-inspired puzzle game that involves pushing and pulling blocks. The premise is an echidna's burrow is turned into a maze by moles, and the echidna must solve puzzles to unlock portals and escape the burrow. Gameplay involves interacting with obstacles to move patterned blocks into matching tiles to ultimately activate the level portal. The level is complete once the player steps onto an active level portal.
<br />
<br />
My inspiration for Maze Burrow comes from some of my favorite puzzle games, such as <a target="_blank" href="https://www.mobygames.com/game/20550/mole-mania/">Mole Mania (Game Boy)</a> and <a target="_blank" href="https://www.mobygames.com/game/5225/toki-tori/">Toki Tori (Game Boy Color)</a>. The goal of this project was to solo-develop a fun game that I can finish and self-publish in a reasonable amount of time. The design went through a few different iterations and originally started out as a puzzle-platformer very close to Toki Tori. After evaluating playtester feedback and running into design issues, I rethought things and ended up going with the current Sokoban-like design. This allowed me to keep the core gameplay simple and focus on level design and unique puzzle mechanics.
<br />
<br />
I developed Maze Burrow in C# using the MonoGame framework and the Tiled map editor. Some of the art, such as the echidna and moles, was commissioned from artists on Fiverr and other mediums, while the majority of the music and sounds are royalty-free. <a target="_blank" href="https://codeberg.org/kimimaru/PuzzleGame">The code itself is licensed under the Mozilla Public License 2.0.</a>
<br />
<br />
Maze Burrow was released for Windows, GNU/Linux, and macOS on March 31, 2020 on Steam and itch.io. One year after release, on March 31, 2021, I published a <a target="_blank" href="https://kimimaru.itch.io/maze-burrow/devlog/237437/maze-burrow-postmortem">postmortem</a> covering Maze Burrow's history and the lessons I learned post-launch.
<br />
<br />
<b>Steam</b>
<br />
<a target="_blank" href="https://store.steampowered.com/app/1244190/Maze_Burrow/">
    <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Logo.png' %}" width="313" height="176">
</a>
<br />
<b>Itch.io</b>
<br />
<a target="_blank" href="https://kimimaru.itch.io/maze-burrow">
    <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Logo.png' %}" width="313" height="176">
</a>
<br />
<br />
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px;gridgap:10px10px;justifycontent:spacearound">
    <div class="grid-item" style="padding-bottom:10px; padding-top:10px">
        <a target="_self" href="{% static 'pages/images/MazeBurrow/MazeBurrow-Puzzles.gif' %}">
            <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Puzzles.gif' %}" width="416" height="256">
        </a>
        <br />
        <div style="width:416px">
            Gameplay involves pushing and pulling blocks. Players can undo a move if they make a mistake.
        </div>
    </div>
    <div class="grid-item" style="padding-bottom:10px; padding-top:10px">
        <a target="_self" href="{% static 'pages/images/MazeBurrow/MazeBurrow-Obstacles.gif' %}">
            <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Obstacles.gif' %}" width="416" height="256">
        </a>
        <br />
        <div style="width:416px">
            Various obstacles are introduced over time to create increasingly complex and interesting puzzles.
        </div>
    </div>
    <div class="grid-item" style="padding-bottom:10px; padding-top:10px">
        <a target="_self" href="{% static 'pages/images/MazeBurrow/MazeBurrow-Moles.gif' %}">
            <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Moles.gif' %}" width="416" height="256">
        </a>
        <br />
        <div style="width:320px">
            Boss levels against moles change up the pace by adding action elements into the mix.
        </div>
    </div>
</div>

{% endblock %}
