{% extends "pages/project.html" %}

{% load static %}

{% block title %}Onward{% endblock %}
{% block ptitle %}Onward{% endblock %}
{% block technologies %}C#, Unity, PlasticSCM{% endblock %}

{% block pcontent %}

<a target="_blank" href="https://store.steampowered.com/app/496240/">
    <img class="noborder nofit" src="{% static 'pages/images/Onward/onward-logo-small.png' %}" width="320" height="80">
</a>
<br />
<br />
Onward is a VR tactical multiplayer Mil-Sim shooter by Downpour Interactive LLC. It was released as an Early Access title on August 29, 2016 and is still being actively developed with a dedicated community and VR esports presence.
<br />
<br />
As a programmer for Onward, my responsibilities included implementing new gameplay features, adapting the game to work for new VR headsets, optimizing the game's performance, and writing various tools to improve the workflow for other teams in the company, including map design. One major gameplay feature I wrote was a robust status effect system that can update and sync status effects over the network; examples of status effects include catching fire from a broken molotov cocktail and drowning when submerged in water for too long. This system allowed many objects to function more like their real-life counterparts, adding to the immersion and realism of the game.
<br />
<br />
Other features I've worked on for Onward include an RC drone, flip-up magnifiers, water, and custom content integration.
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 10px 10px;justifycontent:spacearound">
    <div class="grid-item">
        <video width="400" height="304" controls style="">
            <source src="{% static 'pages/videos/Onward/OnwardRCD.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            An RC drone I implemented, which controls similar to a car.
        </div>
    </div>
    <div class="grid-item">
        <video width="400" height="304" controls style="">
            <source src="{% static 'pages/videos/Onward/OnwardDrowning.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            Submerging in water and taking drowning damage.
        </div>
    </div>
    <div class="grid-item">
        <video width="400" height="304" controls style="">
            <source src="{% static 'pages/videos/Onward/OnwardFlipUp.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            Flip-up magnifiers that can be toggled intuitively.
        </div>
    </div>
</div>

{% endblock %}