{% extends "pages/project.html" %}

{% load static %}

{% block title %}Paper Mario Battle System{% endblock %}
{% block ptitle %}Paper Mario Battle System{% endblock %}
{% block technologies %}C#, MonoGame, HLSL, Adobe Photoshop, Git{% endblock %}

{% block pcontent %}

PMBS, short for Paper Mario Battle System, is an open-source project I've worked on and off over the course of a few years. Written in C# and MonoGame, PMBS aims to recreate the battle system from the first two Paper Mario games in a flexible manner that can be extended and used in game projects. I've utilized as many resources as possible about the internal mechanics of the games and have done many hours of my own research and testing to ensure its accuracy with the original games.
<br />
<br />
The <a target="_blank" href="https://codeberg.org/kimimaru/PaperMarioBattleSystem/releases/tag/v1.0">1.0 release</a> supports a wide variety of features, including Badges, Status Effects, Action Commands, a dialogue system, config-loadable battles, and much more.
<br />
<br />
PMBS is unique in that I write down all of my notes and keep them in a separate folder inside the repository. The notes range from tests I've done in the Paper Mario games to technical implementations of features and reasons for refactoring existing features. The goal of this is to not only have a nice reference but also to allow new developers to understand my thought process when designing this battle system.
<br />
<br />
Source code and more information can be found on the <a target="_blank" href="https://codeberg.org/kimimaru/PaperMarioBattleSystem">Codeberg repository</a>.
<br />
<br />
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-around;">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/PMBS/pmbs-gif.gif' %}">
            <img src="{% static 'pages/images/PMBS/pmbs-gif.gif' %}" width="400" height="300">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/PMBS/pmbs-multibounce.gif' %}">
            <img src="{% static 'pages/images/PMBS/pmbs-multibounce.gif' %}" width="400" height="300">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/PMBS/pmbs-tattle-gif.gif' %}">
            <img src="{% static 'pages/images/PMBS/pmbs-tattle-gif.gif' %}" width="400" height="300">
        </a>
    </div>
</div>

{% endblock %}