{% extends "pages/default.html" %}

{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}

<font face="Helvetica" color="#555">
    <h2>Projects</h2>
    Here you can find the software projects I've worked on. My free software projects can be found on <a target="_blank" href="https://codeberg.org/kimimaru">Codeberg</a>. Click on any image to be taken to the corresponding project page. Please contact me if you have any questions or feedback.
    <br />
   <!-- <br />
    In addition to these projects, I offer freelance game development services. Please refer to the <a href="/freelancing">freelancing page</a> for more information.
    <br /> -->
    <h2>Professional Experience</h2>
    <div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 30px; grid-gap: 30px 30px; justify-content: start">
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'yousician' %}">
                <img src="{% static 'pages/images/Yousician/yousician-logo.jpg' %}" width="192" height="140">
                <div>
                    <div class="truncate">Yousician</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'onward' %}">
                <img src="{% static 'pages/images/Onward/onward-logo-small.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">Onward</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'hypernet' %}">
                <img src="{% static 'pages/images/Hypernet/coverart.jpg' %}" width="192" height="140">
                <div>
                    <div>Hypernet Arena</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'longbeard' %}">
                <img src="{% static 'pages/images/Longbeard/the-rise-of-captain-longbeard-image.jpg' %}" width="192" height="140">
                <div>
                    <div class="truncate">The Rise of Captain Longbeard</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'blueapprentice' %}">
                <img src="{% static 'pages/images/BlueApprentice/logo.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">Blue Apprentice</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'darblez' %}">
                <img src="{% static 'pages/images/Darblez/darblez.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">Darblez</div>
                </div>
            </a>
        </div>
    </div>

    <h2>Published Projects</h2>
    <div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 30px; grid-gap: 30px 30px; justify-content: start">
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'trbot' %}">
                <img src="{% static 'pages/images/TRBot/TRBotLogo.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">TRBot</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'trbotchatdisplay' %}">
                <img src="{% static 'pages/images/TRBotChatDisplay/TRBotChatDisplayLogo.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">TRBotChatDisplay</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'mazeburrow' %}">
                <img src="{% static 'pages/images/MazeBurrow/MazeBurrow-Title.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">Maze Burrow</div>
                </div>
            </a>
        </div>
    </div>

    <h2>Other Projects</h2>
    <div class="grid-container" style="display:grid; grid-template-columns: auto auto auto auto; padding: 30px; grid-gap: 30px 30px; justify-content: start">
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'pmbs' %}">
                <img src="{% static 'pages/images/PMBS/pmbs-power-lift-screenshot.png' %}" width="192" height="140">
                <div>
                    <div class="truncate">Paper Mario Battle System</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'epicubed' %}">
                <img src="{% static 'pages/images/Epicubed/titlescreen.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">Epicubed</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'defendyourfort' %}">
                <img src="{% static 'pages/images/DYF/dyftitlescreen.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">Defend Your Fort</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'smbo' %}">
                <img src="{% static 'pages/images/SMBO/smbo-main-menu.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">Super Mario Bros. Online</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'streetsofperil' %}">
                <img src="{% static 'pages/images/SoP/statusbonusonhold.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">Streets of Peril</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'tcfpe' %}">
                <img src="{% static 'pages/images/TCFPE/tcfpetitlescreen.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">They Came From Planet Earth</div>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a target="_self" href="{% url 'pages:project' 'mathinfection' %}">
                <img src="{% static 'pages/images/MathInfection/untitled-23.png' %}" width="192" height="140" class="image">
                <div>
                    <div class="truncate">Math Infection</div>
                </div>
            </a>
        </div>
    </div>
</font>

{% endblock %}
