{% extends "pages/project.html" %}

{% load static %}

{% block title %}Super Mario Bros. Online{% endblock %}
{% block ptitle %}Super Mario Bros. Online{% endblock %}
{% block technologies %}Visual Basic 6, Eclipse Evolution 2.7, Microsoft Paint, C# (map viewer), MonoGame (map viewer){% endblock %}

{% block pcontent %}

Super Mario Bros. Online is a top-down Online RPG fangame based around the Mario universe. You can play as six different characters, play minigames with other players, collect items, fight enemies, and take part in events.
<br />
<br />
This fangame was my first big step into game development, which I started with my brother in 2009. We worked on it gradually over the course of four years using an online RPG engine called Eclipse Evolution 2.7, which was written in Visual Basic 6. The engine contained many useful tools, including an NPC editor, a level editor which can modify maps on the fly, and support for custom items and map tiles. Using these tools, I designed over 300 maps, created NPCs, balanced items, and imported tilesets.
<br />
<br />

<img src="{% static 'pages/images/SMBO/smbo-main-menu.png' %}" width="447" height="297">

<h2>Showcase</h2>
All map screenshots below were taken with a <a target="_blank" href="https://codeberg.org/kimimaru/SMBOMapViewer">custom map viewer</a> I wrote in C# and MonoGame. It's not normally possible to see the entirety of the map at once in-game due to the window size set by the engine.
<div class="grid-container" style="display:grid; grid-template-columns: 160px 160px 160px 160px; padding: 10px; grid-gap: 10px 10px; justify-content: space-between">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-66-mushroom-kingdom-koopa-islands-village.png' %}">
            <img src="{% static 'pages/images/SMBO/map-66-mushroom-kingdom-koopa-islands-village.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-169-mushroom-kingdom-mushroom-kingdom-path.png' %}">
            <img src="{% static 'pages/images/SMBO/map-169-mushroom-kingdom-mushroom-kingdom-path.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-249-beanbean-kingdom-west-beanbean-outskirts.png' %}">
            <img src="{% static 'pages/images/SMBO/map-249-beanbean-kingdom-west-beanbean-outskirts.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-301-beanbean-kingdom-east-beanbean-outskirts.png' %}">
            <img src="{% static 'pages/images/SMBO/map-301-beanbean-kingdom-east-beanbean-outskirts.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-307-beanbean-kingdom-east-beanbean-outskirts.png' %}">
            <img src="{% static 'pages/images/SMBO/map-307-beanbean-kingdom-east-beanbean-outskirts.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-318-beanbean-kingdom-east-beanbean-outskirts-cave.png' %}">
            <img src="{% static 'pages/images/SMBO/map-318-beanbean-kingdom-east-beanbean-outskirts-cave.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-321-beanbean-kingdom-poison-cave.png' %}">
            <img src="{% static 'pages/images/SMBO/map-321-beanbean-kingdom-poison-cave.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/mushroom-kingdom-entrance.png' %}">
            <img src="{% static 'pages/images/SMBO/mushroom-kingdom-entrance.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/mushroom-kingdom-left-square.png' %}">
            <img src="{% static 'pages/images/SMBO/mushroom-kingdom-left-square.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-186-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-186-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-187-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-187-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-185-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-185-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-189-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-189-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-192-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-192-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-193-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-193-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SMBO/map-194-mushroom-kingdom-mushroom-kingdom.png' %}">
            <img src="{% static 'pages/images/SMBO/map-194-mushroom-kingdom-mushroom-kingdom.png' %}" width="160" height="160">
        </a>
    </div>
</div>

{% endblock %}