{% extends "pages/project.html" %}

{% load static %}

{% block title %}Streets of Peril{% endblock %}
{% block ptitle %}Streets of Peril{% endblock %}
{% block technologies %}C#, XNA, Microsoft Paint, Git{% endblock %}

{% block pcontent %}

Streets of Peril is a traditional side-scrolling Beat 'Em Up game inspired by classics such as Final Fight and Streets of Rage. Streets of Peril was written in C# and the XNA framework, and it was my first hobby project in which I did any sort of programming. Streets of Peril contained a unique status effect system, similar to those found in RPG games, an elaborate Versus mode, and challenge stages that presented their own unique gameplay elements.
<br />
<br />
I learned a lot of skills working on it over two years, including game structure, rendering, and implementing different types of game logic.
<br />
<br />
<a target="_blank" href="https://codeberg.org/kimimaru/StreetsOfPeril">Codeberg Repository</a>
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-around">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SoP/statusbonus.png' %}">
            <img src="{% static 'pages/images/SoP/statusbonus.png' %}" width="300" height="250">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/SoP/streets-of-peril-beta-new-level-editor.png' %}">
            <img src="{% static 'pages/images/SoP/streets-of-peril-beta-new-level-editor.png' %}" width="300" height="250">
        </a>
    </div>
</div>

{% endblock %}
