{% extends "pages/project.html" %}

{% load static %}

{% block title %}They Came From Planet Earth{% endblock %}
{% block ptitle %}They Came From Planet Earth{% endblock %}
{% block technologies %}Game Maker, Adobe Photoshop, Microsoft Paint{% endblock %}

{% block pcontent %}

They Came From Planet Earth is a 2D puzzle platformer in which the player simultaneously controls two characters: The Alien and the Robot. The Robot can only recognize the vertical or horizontal plane at once, and the player can change which plane is recognized using the space bar. The player must utilize both characters to take down the Human Doomsday Machine and save the planet.
<br />
<br />
This project was my final project in a beginner course at college and was built in Game Maker. The team consisted of me and two others. I worked on many of the levels, implemented puzzles, and created art for the environment, including trees and rocks. They Came From Planet Earth was released on YoYo Games' old sandbox website on June 1, 2011.
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: space-around">
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-3.png' %}">
            <img src="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-3.png' %}" width="300" height="300">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/TCFPE/tcfpetitlescreen.png' %}">
            <img src="{% static 'pages/images/TCFPE/tcfpetitlescreen.png' %}" width="300" height="300">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-2.png' %}">
            <img src="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-2.png' %}" width="300" height="300">
        </a>
    </div>
    <div class="grid-item">
        <a target="_self" href="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-1.png' %}">
            <img src="{% static 'pages/images/TCFPE/they-came-from-planet-earth-level-1.png' %}" width="300" height="300">
        </a>
    </div>
</div>

{% endblock %}