{% extends "pages/project.html" %}

{% load static %}

{% block title %}TRBot{% endblock %}
{% block ptitle %}TRBot{% endblock %}
{% block technologies %}C#, C, vJoy, uinput, VSCodium, Git{% endblock %}

{% block pcontent %}

<a target="_blank" href="https://codeberg.org/kimimaru/TRBot">TRBot</a> is software that allows playing games through text. This extends to WebSockets and services such as IRC, XMPP, Twitch, and Matrix, allowing players to remotely control games via chat. The goal of TRBot is to lower the barrier of entry for hosting collaborative play streams and provide avenues to improve the experience. TRBot is free software licensed under the AGPL 3.0.
<br />
<br />
TRBot contains a very fast parser that converts text into inputs. The parser can handle extremely long input strings and convert them to very precise inputs that it then processes. TRBot can be configured to run directly in the terminal, or over a WebSocket, IRC, XMPP, Matrix, or any Twitch channel. To date, TRBot has been used by several popular streamers, including Brace Yourself Games and f1ashko, and other streamers such as Nickadabra, TwitchPlaysSpeedruns, and TheChatPlaysGames.
<br />
<br />
After parsing chat messages, TRBot carries out the inputs by sending them through a virtual joystick (<a target="_blank" href="https://github.com/jshafer817/vJoy">vJoy</a> on Windows, <a target="_blank" href="https://codeberg.org/kimimaru/TRBot/src/branch/master/TRBot/TRBot.VirtualControllers/Native/SetupVController.c">custom uinput controllers</a> on GNU/Linux). Several SDL2 and controller profiles are provided for quick setup. Other resources, such as ChatterBot, LiveSplitOne, and LibreTranslate integrations, are provided through Python scripts and pluggable C# code to increase user engagement and retention while tuned into the streams. TRBot supports multiplayer games and PC games, facilitated through its console-based architecture, which allows for adjusting the available inputs on the fly. Internally, TRBot utilizes multiple threads to handle each input message.
<br />
<br />
This project was inspired by TwitchPlays_Everything, which hosted Twitch Plays runs for various classic video games. The input syntax of their bot was more robust than anything else on Twitch, and I found it fun to see what I can do while playing complex games through text. When the channel became less active, I found that there was a lack of Twitch Plays bots with a similarly flexible syntax. I loved the unique challenges involved with playing games in this way and took it upon myself to write a new and improved, libre version, of TwitchPlays_Everything's bot. Since then, TRBot has surpassed TwitchPlays_Everything's bot's capabilities.
<br />
<br />
TRBot also contains several in-house games and goodies, such as dueling other users for credits and phrase-activated memes. Source code and a setup guide for TRBot can be found on the <a target="_blank" href="https://codeberg.org/kimimaru/TRBot">Codeberg repository</a>.
<br />
<br />
I've presented a <a target="_blank" href="https://media.libreplanet.org/u/libreplanet/m/empowering-community-oriented-play-with-trbot/">45-minute talk of TRBot at LibrePlanet 2022: Living Liberation.</a> This talk covers the history of the project, details about how TRBot works, and its impact on gaming communities.
<br />
<br />
TRBot's logo was designed by <a target="blank" href="https://www.davidrevoy.com">David Revoy</a>, known for his Pepper & Carrot webcomic, and is licensed under <a target="blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
<br />
<br />
<a target="blank" href="https://codeberg.org/kimimaru/TRBot">
    <img class="noborder" alt="Get it on Codeberg" src="https://codeberg.org/Codeberg/GetItOnCodeberg/raw/branch/main/get-it-on-blue-on-white.png" height="60">
</a>
<br />
<br />
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: 655px 319px; padding: 10px; grid-gap: 10px 10px; justify-content: space-around">
    <div class="grid-item" style="margin: 0px 0px 30px 0px">
        <a target="_self" href="{% static 'pages/images/TRBot/TRBot_TutIntro.gif' %}">
            <img src="{% static 'pages/images/TRBot/TRBot_TutIntro.gif' %}" width="800" height="348">
        </a>
        <br />
        <div style="width:800">
            An example of how TRBot can handle inputs. Inputs can be as simple or complex as the player wants.
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="grid-item" style="margin: 0px 0px 30px 0px">
        <a target="_self" href="{% static 'pages/images/TRBot/TRBot_TutCulmination.gif' %}">
            <img src="{% static 'pages/images/TRBot/TRBot_TutCulmination.gif' %}" width="800" height="348">
        </a>
        <br />
        <div style="width:800">
            An example of an advanced command. The multithreaded implementation allows for very accurate timings by minimizing the delay between processing the input and carrying it out.
        </div>
    </div>
    <br />
    <br />
    <div class="grid-item" style="margin: 0px 0px 30px 0px">
        <a target="_self" href="{% static 'pages/images/TRBot/TRBot_TutMultiController.gif' %}">
            <img src="{% static 'pages/images/TRBot/TRBot_TutMultiController.gif' %}" width="800" height="348">
        </a>
        <br />
        <div style="width:800">
            It's also possible to control different controller ports at will. This enables multiplayer co-op and competitive games.
        </div>
    </div>
</div>

{% endblock %}
