{% extends "pages/project.html" %}

{% load static %}

{% block title %}TRBotChatDisplay{% endblock %}
{% block ptitle %}TRBotChatDisplay{% endblock %}
{% block technologies %}C++, Qt, Git{% endblock %}

{% block pcontent %}

<a target="_blank" href="https://codeberg.org/kimimaru/TRBotChatDisplay">TRBotChatDisplay</a> is an application for displaying messages <a target="blank" href="{% url 'pages:project' 'trbot' %}">TRBot</a> receives to show on a collaborative play stream. It includes features such as highlighting valid input messages, highlighting commands, filtering messages from bots and specific services, and configuring options for altering the appearance of the chat window. It works by connecting to TRBot's WebSocket server and reading the outgoing events. There is also a built-in utility to send mock messages to preview how messages would look without needing to hook up the WebSocket.
<br />
<br />
Using TRBotChatDisplay, a host running TRBot across multiple services can allow everyone watching the stream to see the messages coming from everywhere in one place.
<br />
<br />
Originally built with .NET and Eto.Forms, TRBotChatDisplay was rewritten in C++ and Qt for more flexibility and better performance with many chat entries active. TRBotChatDisplay is free software licensed under the AGPL 3.0+.
<br />
<br />
<a target="blank" href="https://codeberg.org/kimimaru/TRBotChatDisplay">
    <img class="noborder" alt="Get it on Codeberg" src="https://codeberg.org/Codeberg/GetItOnCodeberg/raw/branch/main/get-it-on-blue-on-white.png" height="60">
</a>
<br />
<br />
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: 655px 319px; padding: 10px; grid-gap: 10px 10px; justify-content: space-around">
    <div class="grid-item" style="margin: 0px 0px 30px 0px">
        <a target="_self" href="{% static 'pages/images/TRBotChatDisplay/ChatWindow.png' %}">
            <img src="{% static 'pages/images/TRBotChatDisplay/ChatWindow.png' %}">
        </a>
        <br />
        <div>
            An example of how the chat window looks. Valid input sequences are highlighted in a different text color.
        </div>
    </div>
    <br />
    <br />
    <div class="grid-item" style="margin: 0px 0px 30px 0px">
        <a target="_self" href="{% static 'pages/images/TRBotChatDisplay/MainWindow.png' %}">
            <img src="{% static 'pages/images/TRBotChatDisplay/MainWindow.png' %}">
        </a>
        <br />
        <div>
            TRBotChatDisplay provides many options to customize the appearance of the chat window.
        </div>
    </div>
</div>

{% endblock %}
