{% extends "pages/project.html" %}

{% load static %}

{% block title %}Yousician{% endblock %}
{% block ptitle %}Yousician{% endblock %}
{% block technologies %}C#, Unity, UniRx{% endblock %}

{% block pcontent %}

Yousician is a music education company with the goal of making musicality as common as literacy. Their namesake app, Yousician, is designed to help guide and teach players of all skill levels how to play and master instruments through a hand-crafted syllabus. Artist partnerships get players closer to their favorite artists and songs, learning from the masters themselves.
<br />
<br />
I'm an app developer on the Monetization team for the Yousician product. My responsibilities involve maintaining our cross-platform app payment infrastructure across iTunes and Google Play. This includes adding features and making changes to account for new operating system versions. Our payment infrastructure includes native iOS patches on top of the Unity IAP plugin.
<br />
<br />
Furthermore, I work on features to increase user retention and engagement, regularly collaborating with backend, designers, and product managers on initiatives such as Streaks, Time Travel, and improvements to our conversion screens, to name a few. Some of these initiatives address specifics for each platform, such as different mobile and desktop designs and copy changes on conversion screens catered towards our market in different app stores.
<br />
<br />
<b>Yousician App Overview</b>
<br/>
<iframe width='640' height='360' src='https://yewtu.be/embed/EESFXkyn9Fs' style='border:none;'></iframe>
<br />
<br />
<h2>Showcase</h2>
<div class="grid-container" style="display:grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 10px 10px; justify-content: spacearound">
    <div class="grid-item">
        <video width="400" height="304" controls>
            <source src="{% static 'pages/videos/Yousician/Yousician_ConversionCarousel.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            The conversion carousel I worked on for Yousician.
        </div>
    </div>
    <div class="grid-item">
        <video width="400" height="304" controls>
            <source src="{% static 'pages/videos/Yousician/Yousician_StreakTimeline.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            A dynamic scrollable timeline as part of the Streaks feature I worked on. You can tap/click on each week to see your stats for that week.
        </div>
    </div>
    <div class="grid-item">
        <video width="400" height="304" controls>
            <source src="{% static 'pages/videos/Yousician/Yousician_StreakTimeTravel.mp4' %}" type="video/mp4" />
        </video>
        <div style="width:400px">
            The Time Travel feature that allows fixing a broken streak. A preview is shown for how the week will look once fixed before spending your Time Travel token.
        </div>
    </div>
</div>
<br />
<a target="_blank" href="https://apps.apple.com/us/app/yousician-guitar-lessons/id959883039">
<img class="noborder" src="{% static 'pages/images/BlueApprentice/scimage.png' %}" width="160" height="54" />
</a>
<a target="_blank" href='https://play.google.com/store/apps/details?id=com.yousician.yousician'>
<img class="noborder" alt='Get it on Google Play' src="{% static 'pages/images/BlueApprentice/scimage1.png' %}" width="188" height="56" />
</a>

{% endblock %}
